<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="TrainerBoardDAO">
	<insert id="insertBoard">
	<![CDATA[
		INSERT INTO TRAINER_BOARD(SEQ, TB_TITLE, ,M_ID, NICKNAME, TB_CONTENT, TB_PROGRAM, TB_IMG, TB_FILE1, TB_FILE2,TB_FILE3,TB_ACTIVTAG, TB_ACTIVCHK)
		VALUES((SELECT NVL(MAX(SEQ), 0) + 1 FROM BOARD), #{tb_title},#{m_id}, #{nickname}, #{tb_content}, #{tb_program}, #{tb_img}, #{tb_file1}, #{tb_file2}, #{tb_file3}, #{tb_activtag}, #{tb_activchk})
		]]>
	</insert>

	<update id="updateBoard">
	<![CDATA[
		UPDATE TRAINER_BOARD SET TB_TITLE = #{tb_title}, TB_CONTENT = #{tb_content}, TB_PROGRAM = #{tb_program} WHERE SEQ = #{seq}
		]]>
	</update>

	<delete id="deleteBoard">
	<![CDATA[
		DELETE TRAINER_BOARD WHERE SEQ = #{seq}
		]]>
	</delete>

	<select id="getBoard" resultType="trainer_board">
	<![CDATA[
		SELECT * FROM TRIANER_BOARD WHERE SEQ = #{seq}
		]]>
	</select>

	<select id="getBoardList" resultType="trainer_board">
	<![CDATA[
		SELECT * FROM TRAINER_BOARD
		WHERE 1=1
		]]>
		<if test="searchCondition == 'TB_TITLE'">
			AND TITLE LIKE '%' || #{searchKeyword} || '%'
		</if>
		<if test="searchCondition == 'TB_CONTENT'">
			AND CONTENT LIKE '%' || #{searchKeyword} || '%'
		</if>
		<![CDATA[
		ORDER BY SEQ DESC
		]]>
	</select>
</mapper>
